/* Estilos CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del Body */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
    color: black;
    line-height: normal;
    padding: 20px;
}

body h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    line-height: normal;
    padding: auto;
}

body h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    line-height: normal;
    padding: auto;
}

body p {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    line-height: normal;
    padding: auto;
}

/* Estilos del Header */
header {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    text-decoration: none;
}